
footer{
    @extend %row;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    padding: 0 5px;
    height: 40px;
}
.socials{
    margin: 0;
    padding: 0;
    @extend %row;
    align-items: center;
    list-style: none;
    gap: 5px;
}
.icon{
    font-size: 1.5rem;
}
.icon-facebook:hover{
    color: rgb(0, 0, 255);
}
.icon-twitter:hover{
    color: rgb(30, 144, 255);
}
.icon-github:hover{
    color: rgb(0, 0, 0);
}
.icon-linkedin:hover{
    color: rgb(0, 0, 255);
}
footer p{
    font-size: .7em;
    align-self:flex-end;
}