.floating-nav.active{
    @extend %row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    gap:1rem;
    width: 14.5rem;
    height: 4rem;
    border-radius: 2rem;
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    z-index: 2;
    transition: all 1s;
    opacity: 1;
}
.floating-nav{
    width: 6rem;
    bottom: 0;
    opacity: 0;
}
.floating-nav a{
    @extend %centered;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    color: #4bd5ff;
    &:hover{
        background-color: rgba(0,0,0,0.9);
    }
}