.portfolio-page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin:0 auto 3rem;
    padding:12px;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}
@media (min-width:767px){
    .portfolio-page{
        width: calc(1074px + 6rem);
        flex-direction: row;
    }
}
.project {
    @extend %column;
    background-color: #2c2c6c;
    width: 90%;
    max-width: 350px;
    box-shadow: 0 4px 8px  rgba(45,45,45,0.3);
    border-radius: 10px;
    gap: 1rem;
    padding:10px;
}
.project-skills span{
    font-size: 0.8rem;
    color: rgb(191, 255, 131);
}
.project-links {
    @extend %row;
    justify-content: space-evenly;
    padding: 10px 20px 0;
}
.project-links a{
    @extend %centered;
    font-size: 1rem;
    width: 6rem;
    height: 2rem;
    border-radius: 1rem;
}
